<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="javascript/script.js" defer></script>
    <title>GoGreen.com</title>
</head>
<body>
    
    {{>navbar}}
    <div style="height:5rem" aria-hidden="true" class="wp-block-spacer"></div>
<section class="mid">
         <div class="mid-top">
             <img src="css/images/earth.png" alt="EARTH" class="midphoto" width="800" height="400"style="margin-left: 1.5rem;">
        </div>
        <div class="more">
            <article id="content">
                <p><span style="font-size: 3.125rem;;text-align: center"><b>GoGreen.com @256</b> </span><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Reprehenderit minus velit ut rem voluptatum sunt illo nisi deleniti, 
                    beatae vero repellat sint id nemo libero doloribus consectetur quibusdam 
                    quidem explicabo nostrum delectus accusantium reiciendis cumque. Consequatur 
                     dolores voluptas pariatur nulla facilis minima corporis atque laudantium quibusdam 
                     cupiditate, in suscipit laboriosam, excepturi vero, quos natus id quod eveniet reiciendis
                      aliquid ab quis quisquam consectetur debitis. Non quasi, esse adipisci deserunt mollitia 
                      eaque consequuntur porro nobis ex quidem, in tenetur saepe ratione impedit animi pariatur
                       accusantium atque ullam id. Enim nulla doloremque laborum unde fugit voluptates magni
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit soluta tenetur sequi commodi reiciendis animi alias tempore, hic voluptate iste.</p>
            </article>
            <button id="read-more">Show more</button>
        </div>
</section>
<div style="height:5rem" aria-hidden="true" class="wp-block-spacer"></div>

{{>gallery}}

<div style="height:5rem" aria-hidden="true" class="wp-block-spacer"></div>
<div id="video">
    <div>
        <iframe width="853" height="480" src="https://www.youtube.com/embed/QQYgCxu988s" title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="change">
        <h1>BE A PART OF CHANGE</h1><br>
        <button class="mem"><a href="login">BECOME A MEMBER</a> </button>
    </div>
</div>
<div style="height:5rem" aria-hidden="true" class="wp-block-spacer"></div>


<section id="aboutus">
    <div class="about">
        <h1>ABOUT<span style="color: rgb(219, 14, 14)"> US</span></h1>
    </div>
    <div class="abt">
        <div class="env">        
            <img src="css/images/env.jpg" alt="#" width="800" height="400" style="margin-left: 1.5rem;">
        </div>
        <div class="middata">
            <h1>WHAT WE ARE</h1><br>
            <p style="font-size: 1.55rem">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Temporibus minima aut nisi quam ad suscipit sed tenetur,Lorem ipsum dolor sit, 
                amet consectetur adipisicing elit. Perspiciatis fuga nobis ducimus voluptatum, 
                ex molestias iste reprehenderit non quos rerum nam modi quam id sit debitis 
                magni nesciunt voluptatibus? Veniam! inventore a asperiores!
            </p>
        </div>
    </div>
    <div class="last">
        <div class="middata">
            <h1>WHAT WE DO</h1><br>
            <p style="font-size: 1.55rem">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Temporibus minima aut nisi quam ad suscipit sed tenetur,Lorem ipsum dolor sit, 
                amet consectetur adipisicing elit. Perspiciatis fuga nobis ducimus voluptatum, 
                ex molestias iste reprehenderit non quos rerum nam modi quam id sit debitis 
                magni nesciunt voluptatibus? Veniam! inventore a asperiores!
           </p>
        </div>
        <div class="survive">
           <img src="css/images/rescue.jpg" alt="#logo" width="800" height="400" style="margin-right: 1.5rem;">
        </div>
    </div>
</section>
<div style="height:5rem" aria-hidden="true" class="wp-block-spacer"></div>
<div class="shop">
    <div class="shop-1">
        <img src="css/images/env3.png" alt="#img" width="800" height="600">
    </div>
    <div class="shop-2">
        <h1>VISIT THE OFFICIAL</h1>
         <img src="css/images/gogreen.jpg" alt="#img" width="180" height="100">
         <h1>STORE</h1>
        <h1 class="shop-3"><a href="shop">SHOP NOW</a> </h1>
    </div>

</div>

<div style="height:5rem" aria-hidden="true" class="wp-block-spacer"></div>

{{>contact}}
<div style="height:5rem" aria-hidden="true" class="wp-block-spacer"></div>

<div class="bottom">
    <h1>Our Partners</h1>
    <div class="container">
        <figure class="logo-image">
          <img src="css/images/green.jpg" width="194" height="118" alt="" class="wp-image-1097">
        </figure>
        
        <figure class="logo-image">
            <img src="css/images/green1.jpg" alt="" class="wp-image-1096" width="200" height="150">
        </figure>
        
        <figure class="logo-image">
            <img src="css/images/green2.jpg" alt="" class="wp-image-1098" width="150" height="90">
        </figure>
        
        <figure class="logo-image">
            <img src="css/images/green3.jpg" alt="" class="wp-image-1099" width="170" height="120">
        </figure>
        
        <figure class="logo-image">
            <img width="170" height="130" src="css/images/green4.jpg" alt="" class="wp-image-21049">
        </figure>
        
        <figure class="logo-image">
            <img width="244" height="150" src="css/images/green5.jpg" alt="" class="wp-image-1100">
        </figure>
        
        <figure class="logo-image">
            <img src="css/images/green6.jpg" alt="" class="wp-image-1101" width="150" height="150">
        </figure>
        
        <figure class="logo-image">
            <img src="css/images/green7.jpg" alt="" class="wp-image-1102" width="150" height="150">
        </figure>
    </div>
</div>

<div class="btnend">
    <button><a href="login">SIGN-UP TO BECOME A VOLUNTEER</a></button>
</div>
{{>footer}}
    
</body>
</html>