<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" href="css/register.css">
  </head>
  <body>
   <form action="/register" method="POST">
    <div class="container">
     <h1 style="text-align:center ;"><u> REGISTER HERE TO CONNECT WITH THE COMMUNITY OF SUPERHEROES of REAL LIFE</u></h1>
     <p>Please fill in this form to create an account.</p>
     <hr>
     <input type="text" placeholder="Enter First Name*" name="firstname" id="firstname" required>
     <input type="text" placeholder="Enter Last Name*" name="Lastname" id="Lastname" required>
    <input type="text" placeholder="Enter Email*" name="email" id="email" required>
    <input type="Number" placeholder="Enter Age*" name="Age" id="Age" required>
    <input type="password" placeholder="Enter Password*" name="psw" id="psw" required>
    <input type="password" placeholder="Confirm Password*" name="Confirmpsw" id="Confirmpsw" required>
    <hr>
    <input type="submit" class="registerbtn" value="Register">
  </div>
  
  <div class="container signin">
    <p>Already have an account? <a href="/login">Sign in</a>.</p>
  </div>
</form>

</body>
</html>
