<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/shop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>GoGreen Store</title>
</head>
<body>
    <section class="main">
        <div class="search-container">
            <form action="/action_page.php">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search" style="font-size:30px"></i></button>
            </form>
        </div>
    </section>
    
            
    <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
 
    
    <section class="shop" id="shop">

        <h1 class="heading">
            <u>Go<span style="color:rgb(40, 182, 99)">Green</span>  MERCHANDISE</u> 
        </h1>
    
        <div class="box-container1">
    
            <div class="box">
                <img src="css/images/shop/s1.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>Black t-shirt for Boys</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <i class="fa fa-star-half-o" style="color:orange;font-size: 25px"></i>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="price"> Rs.280.00 <span>Rs.320.00</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>
                </div>
            </div>
    
            <div class="box">
                <img src="css/images/shop/s3.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>Blue cup</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="price"> Rs.80.00 <span>Rs.90.00</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>
                </div>
            </div>
    
            <div class="box">
                <img src="css/images/shop/s2.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>Black t-shirt for Girls</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <i class="fa fa-star-half-o" style="color:orange;font-size: 25px"></i>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="price"> Rs.200.00 <span>Rs.220.00</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>
                </div>
            </div>
    
            <div class="box">
                <img src="css/images/shop/s9.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>Vegetable Bag </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="price"> Rs.135.00 <span>Rs.150.00</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>
                </div>
            </div>
    
            <div class="box">
                <img src="css/images/shop/s5.png" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>Grey t-shirt</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="price"> Rs.190.00 <span>Rs.220.00</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>
                </div>
            </div>
    
            <div class="box">
                <img src="css/images/shop/s10.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>White bag </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <i class="fa fa-star-half-o" style="color:orange;font-size: 25px"></i>

                    </div>
                    <div class="price"> Rs.170.00 <span>Rs.210.00</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>


                </div>
            </div>

            <div class="box">
                <img src="css/images/shop/s6.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>Black classy T-shirt for girls </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="price">Rs.90.00 <span>Rs.120.00</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>


                </div>
            </div>

            <div class="box">
                <img src="css/images/shop/s8.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>White cup</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="price"> Rs.120.00 <span>Rs.135.00</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>


                </div>
            </div>

            <div class="box">
                <img src="css/images/shop/s4.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>Black t-shirt</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="price"> Rs.200.00 <span>Rs.220.00</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>


                </div>
            </div>

            <div class="box">
                <img src="css/images/shop/s11.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>Black water bottle </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <i class="fa fa-star-half-o" style="color:orange;font-size: 25px"></i>

                    </div>
                    <div class="price"> Rs.235.00 <span>Rs.250.00</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>


                </div>
            </div>

            <div class="box">
                <img src="css/images/shop/s7.png" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>Ocean blue cup</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="price"> Rs.95.00 <span>Rs.120.00</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>


                </div>
            </div>

            <div class="box">
                <img src="css/images/shop/s12.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>White water bottle</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="price"> Rs.200.00 <span>Rs.220.00</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>


                </div>
            </div>

            <div class="box">
                <img src="css/images/shop/s18.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>Bag </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="price"> Rs.98.00 <span>Rs.100.00</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>


                </div>
            </div>

            <div class="box">
                <img src="css/images/shop/s15.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>White shinny cup</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="price"> Rs.95.00 <span>Rs.120.00</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>


                </div>
            </div>

            <div class="box">
                <img src="css/images/shop/s16.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>Black cup</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <i class="fa fa-star-half-o" style="color:orange;font-size: 25px"></i>

                    </div>
                    <div class="price"> Rs.100.00 <span>Rs.110.00</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>


                </div>
            </div>

            <div class="box">
                <img src="css/images/shop/s14.png" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>Black coffe cup</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="price"> Rs.95.00 <span>Rs.120.00</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>


                </div>
            </div>

            <div class="box">
                <img src="css/images/shop/s13.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>Girl t-shirt</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <i class="fa fa-star-half-o" style="color:orange;font-size: 25px"></i>

                    </div>
                    <div class="price"> Rs.90.00 <span>Rs.120.00</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>


                </div>
            </div>

            <div class="box">
                <img src="css/images/shop/s17.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>White classic bag </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="price"> Rs.400 <span>Rs.800</span> </div>
                    <a href="#" class="btn">ADD TO CART</a><br>
                    <a href="#" class="btn-1">BUY NOW</a>


                </div>
            </div>
            <button class="btn-2">SEE MORE</button>

    
        </div>
        <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>

    {{>footer}}
    
</body>
</html>