
<section class="contact" id="contactus" >
    
    <h1 class="heading" style="font-size:3.125rem;font-weight: 800;text-align: center">
         CONTACT <span style="color:red"> US</span> 
    </h1>

    <div class="row">

        <div class="image">
            <img src="css/images/contact-img.svg" alt="" width="2000" height="800">
        </div>

        <form action="" >
            <div class="inputBox">
                <input type="text" placeholder="name">
                <input type="email" placeholder="email">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="number">
                <input type="text" placeholder="subject">
            </div>
            <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>
            <button class="btn" style="font-size:  1.875rem;;cursor: pointer;background: radial-gradient(
                rgba(252, 185, 0, 1) 0%,
                rgba(255, 105, 0, 1) 100%
              );color:white;padding:3px" onclick="submitForm()">SUBMIT</button>
        </form>

    </div>
    
</section>
