<section class="footer">
    <div class="box-container">
        <div class="box">
            <img style="margin-top:3.125rem;" src="css/images/gogreen.jpg" alt="source" width="180" height="100">
             <h1 style="color:greenyellow">@GoGreen.com</h1>
        </div>
        <div class="box">
            <h3>BRANCH LOCATIONS</h3>
            <a href="#">India</a>
            <a href="#">USA</a>
            <a href="#">japan</a>
            <a href="#">france</a>
        </div>
        <div class="box">
            <h3>QUICK LINKS</h3>
            <a href="#">home</a>
            <a href="#gallery">gallery</a>
            <a href="#contactus">contact</a>
        </div>
        <div class="box">
            <h3 id="">FOLLOW US</h3>
            <a href="#" class="fa fa-facebook"> Facebook</a>
            <a href="#" class="fa fa-instagram"> Instagram</a>
            <a href="#" class="fa fa-twitter"> Twitter</a>
            <a href="#" class="fa fa-linkedin"> Linkedin</a><br>

            <p>Tax ID - 13-3798288 <br>
                1752 N Street NW <br>
                New Delhi,110080 <br>
                +913183063107 <br>
                info@GoGreen.com</p>
        </div>

    </div>

    <h1 class="credit"> created by <span> SACHIN </span> | all rights reserved! </h1>
    <h1 style="color:white;text-align: center;cursor: pointer;"><a href="#">TERMS OF USE</a> </h1>
    <h1 style="color:white;text-align: center;cursor: pointer;"><a href="#">PRIVACY POLICY</a> </h1><br>
</section>