<section id="gallery">
    <div class="slideshow">
        <h1 style="font-size:4rem;font-weight: bolder;text-align: center;margin-bottom: 1.3rem;">GALLERY</h1>
        <div class="mySlides">
          <img src="css/images/Animals.jpg" width="1000" height="600">
        </div>
        
        <div class="mySlides">
          <img src="css/images/plant.jpg" width="1000" height="600">
        </div>
        
        <div class="mySlides">
          <img src="css/images/cleancity.jpg" width="1000" height="600">
        </div>

        <div class="mySlides">
            <img src="css/images/planet.jpg" width="1000" height="600">
          </div>

          <div class="mySlides">
            <img src="css/images/river.jpg" width="1000" height="600">
          </div>
        
        </div>
        <br>
</section>