<header id="home">
        <nav class="topbar">
            <img src="css/images/gogreen.jpg" alt="#logo" width="180" height="100">
            <div class="navlinks">
              <ul>
                  <li><a href="/index">HOME</a></li>
                  <li><a href="#gallery">GALLERY</a></li>
                  <li><a href="#aboutus">ABOUT US</a></li>
                  <li><a href="/shop">SHOP</a></li>
                  <li><a href="/register">SignUp</a></li>
                  <li><a href="/login">LOG IN</a></li>
              </ul>
            </div>
        </nav>
        <div class="future">
            <h3>A WAY TO SECURE</h3>
            <br>
            <h2>FUTURE</h2>
            <br>
            <br>
            <h1><u>YOUR FUTURE IS IN YOUR HAND</u>-></h1>
        </div>
    </header>